@import './common';


.search-form{
   
    padding-top: 5px;
       padding-bottom: 5px;
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
   height: 30px;
   background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,66,121,1) 27%, rgba(9,111,121,1) 57%, rgba(2,0,36,1) 88%);
   border-radius: 10px;
   button{
       margin-left: -27px;
       border-radius: 4px;
       background-color: rgb(219, 218, 218);
       svg {
           width: 10px;
           height: 10px;
       }
   }
}





.gallery {
   display: flex;
   flex-wrap: wrap;
   
.photo-card {
   margin-left: 10px;
   margin-bottom: 10px;
   border-radius: 10px;
   box-shadow: 0px 1px 3px rgba(0,0,0,.1215686275), 0px 1px 1px rgba(0,0,0,.1411764706), 0px 2px 1px rgba(0,0,0,.2);
   overflow:hidden;
   
   img{
       width: 450px;
       height: 300px;
   }
   .info{
       display: flex;
       
p{
   b{
   display: flex;
   flex-direction: row;
   justify-content: center;
   }
  
  text-align: center;
   margin-left: 30px;
}
   }
}
}

.load-more{
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: 700;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,66,121,1) 27%, rgba(9,111,121,1) 57%, rgba(2,0,36,1) 88%);
color: aqua;

}

.loadMoreButton{
   display: flex;
   justify-content: center;
   align-items: center;
}